@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

:root {
  --app-zoom: 1;
  --page-panel-height: calc(100dvh - 8rem);
}

body {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  background-color: #09090b;
  color: white;
}

.scrollbar-none {
  scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1500px) {
  :root {
    --app-zoom: 0.87;
    --page-panel-height: calc((100dvh / var(--app-zoom)) - 8rem);
  }

  body {
    zoom: var(--app-zoom);
  }
}
